@font-face {
  font-family: AtomicAlice;
  src: url('fonts/AtomicAlice-Regular.otf') format('opentype');
}

@font-face {
  font-family: AtomicAliceLight;
  src: url('fonts/AtomicAlice-Light.otf') format('opentype');
}

@font-face {
  font-family: EckmannC;
  src: url('fonts/EckmannC.ttf') format('truetype');
}
